{% extends "base.html" %}

{% block content %}
    <table id="matchesTable" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>Rank</th>
                <th>ELO Sum</th>
                <th>Date</th>
                <th>Lineup (Winner First)</th>
                <th>Game ID</th>
            </tr>
        </thead>
       <tbody>
			{% for m in matches %}
			<tr>
				<td>{{ m.rank }}</td>
				<td>{{ m.elo_sum }}</td>
				<td>{{ m.date }}</td>
				<td class="lineup-cell">
					<span class="winner-name">{{ m.winner }}</span>, 
					<span class="others-names">{{ m.others }}</span>
				</td>
				<td>
					<a href="{{ m.match_url }}" target="_blank" class="match-id-link">
						{{ m.match_id }} ↗
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
    </table>
{% endblock %}

{% block custom_js %}
<script>
$(document).ready(function() {
    $('#matchesTable').DataTable({
        "order": [[1, "desc"]], 
        "responsive": true,
        "pageLength": 25,
        "columnDefs": [
            { "className": "lineup-cell", "targets": 3 },
            { "className": "elo-sum-cell", "targets": 1 },
            
            /* Responsive Priorities */
            { "responsivePriority": 1, "targets": [0, 3] }, // Rank & Lineup stay
            { "responsivePriority": 2, "targets": 1 },      // Elo stays if possible
            { "responsivePriority": 3, "targets": 2 },      // Date is hidden first
            { "responsivePriority": 4, "targets": 4 }       // ID is hidden first
        ],
        "language": {
        "searchPlaceholder": "Player name, Game ID..."
        }
    });
});
</script>
{% endblock %}
