/* Artist content */
body[data-page="cache"] .screen-deco {
    height: 0;        /* Le bloc ne prend plus de place verticale */
    overflow: visible; /* Mais l'image peut quand même dépasser pour être vue */
}

body[data-page="cache"].show-deco .screen-deco {
    height: 200px;    /* On remet la hauteur d'origine seulement quand c'est activé */
    transition: height 0.5s ease;
}

body[data-page="cache"] .screen-deco img {
    opacity: 0;
    pointer-events: none;
}

body[data-page="cache"].show-deco .screen-deco img {
    opacity: 1;
    pointer-events: auto;
}

body[data-page="cache"] .page-intro, .artist-story {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease;
    pointer-events: none;
}

body[data-page="cache"].show-deco .page-intro, body.show-deco .artist-story,  {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

body.show-deco .enigma {
    display: none
}
