{% extends "base.html" %}

{% block content %}

<div class="tier-interaction-wrapper">
    <a href="javascript:void(0)" 
       onclick="openTierModal('squirrel')" 
       class="nut-trigger js-double-tap" 
       aria-label="Crack a nut to open squirrel stats">
        <span class="tooltip-text">Crack a nut!</span>
        <img src="assets/images/nut.webp" alt="Giant Nut" class="nut-sprite">
        <span class="nut-label">We haven't forgotten you</span>
        
    </a>
</div>

{% endblock %}
