{% extends "base.html" %}

{% block content %}
    <table id="matchesTable" class="display responsive" style="width:100%">
        <thead>
            <tr>
                <th>Rank</th>
                <th>ELO Sum</th>
                <th>Date</th>
                <th>Lineup (Winner First)</th>
                <th>Game ID</th>
            </tr>
        </thead>
       <tbody>
			{% for m in matches %}
			<tr>
				<td>{{ m.rank }}</td>
				<td>{{ m.elo_sum }}</td>
				<td>{{ smart_date(m.date) }}</td>
				<td class="lineup-cell">
					<span class="winner-name">{{ m.winner }}</span>, 
					<span class="others-names">{{ m.others }}</span>
				</td>
				<td>
					<a href="{{ m.match_url }}" target="_blank" class="match-id-link">
						{{ m.match_id }} ↗
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
    </table>
{% endblock %}
