{% extends "base.html" %}

{% block content %}
<!-- Interactive Map -->
<div id="tribeMapContainer" class="tribe-map-container">
    <svg id="tribeMapSvg" class="tribe-map-svg"></svg>
</div>

<!-- Date Selector Controls -->
<div class="date-controls">
    <button id="earliestDateBtn" class="btn">Earliest Date</button>
    <button id="prevDateBtn" class="btn">&laquo; Prev. Day</button>
    <input type="date" id="datePicker" class="date-picker">
    <button id="nextDateBtn" class="btn">Next Day &raquo;</button>
    <button id="latestDateBtn" class="btn">Latest Date</button>
</div>

<!-- Tribe Table -->
<div class="network-container">
    <table id="frogTable" class="display nowrap network-table">
        <thead>
            <tr>
                <th class="player-col">Player</th>
                <th class="games-col">Games</th>
                {% for tribe, data in config.network.tribes.items() %}
                <th><img src="{{ data.icon }}" title="{{ tribe }}" alt="{{ tribe }}" class="tribe-icon"></th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <!-- Table body populated dynamically by JS -->
        </tbody>
    </table>
</div>
{% endblock %}

{% block custom_js %}
<script src="https://d3js.org/d3.v7.min.js"></script>
<script>
    window.NETWORK_DATES = {{ dates_json | safe }};
    window.NETWORK_SNAPSHOTS = {{ snapshots_json | safe }};
    window.NETWORK_CONFIG = {{ config.network | tojson | safe }};
</script>
{% endblock %}
